h1{
    text-align: center;
    color: #FAF8F6;
}

.signupForm{
    text-align: center;
    color: #FAF8F6;
}

body{

    background-color:#659dbd;
}

.middle{
    text-align: center;
}

p{
    color: #FAF8F6;
    margin-left: 3in; 
    margin-right: 3in; 
}


/*
Website colors:
Gold: #E7D27C
Pastel Purple: #C3B1E1
Dark Purple: #4e2e81
White: #FAF8F6
*/
