h1{
    text-align: center;
    color: #E7D27C;
}

.signupForm{
    text-align: center;
    color: #FAF8F6;
}

body{

    background-color:#c3b1e1;
}

.middle{
    text-align: center;
}


/*
Website colors:
Gold: #E7D27C
Pastel Purple: #C3B1E1
Dark Purple: #4e2e81
White: #FAF8F6
*/
