
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="HOme.html">Bulldog Coin</a>
          <a class="nav-link" href="myWallet.html"> My Wallet <span class="sr-only"></span></a> 
                <div style="display: flex; justify-content: space-around">
        <a class="nav-link" href="What is bulldogcoing.html">What is bulldog coin? <span class="sr-only"></span></a>
        <a class="nav-link" href="#"> FAQ <span class="sr-only"></span></a> 
        <a class="nav-link" href="getstartedPage.html"> Get started now <span class="sr-only"></span></a> 
        <a class="nav-link" href="sign in page.html"> Sign in <span class="sr-only"></span></a> 
    </nav>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="scripts/scripts.js"></script>